name: Artifacts

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: |
          bun install

      - name: Build
        run: |
          bun run build

      - name: Ready library for upload
        run: |
          rm -rf output
          mkdir output
          find output -name '*.d.ts' ! -name 'index.d.ts' -delete
          cp -r package.json bun.lock tsconfig.json dist/ src/ DOCUMENTATION.md LICENSE output/

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: QNS-Library
          path: ./output
